.navigation {
    display: flex;
    padding: 30px;
    //border-bottom: 1px solid black;
  
    .logo-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  
    .nav-links-container {
      flex: 4;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  